.main__meta {
  max-width: 1100px;
  margin-left: 15%;
  margin-right: 15%;
}

.btn-new-meta {
  background-color: #4169e1;
  font-family: "roboto" bold;
  padding: 7px 5px;
  font-size: 85%;
  border: none;
  border-radius: 10px;
}
.h2 {
  color: #696969;
  font-family: "roboto" bold;
}
.margin-d {
  margin-top: 4rem;
}
.roundedx {
  border-radius: 10px;
}
.card-title {
  color: teal;
  font-size: 120%;
  font-family: roboto "bold";
  /*Width: 0px;*/
  height: 50px;
}

.buttonvisualizar {
  background-color: #00816e;
  color: white;
  border: none;
  border-radius: 9px;
  padding: 1px;
}

.trash {
  background-color: red;
  color: white !important;
  border: none;
  border-radius: 12px;
  padding: 1px;
}

.edit_btn_icon {
  background-color: #fe5472;
  color: white !important;
  border: none;
  border-radius: 12px;
  padding: 1px;
}

.space {
  bottom: 60px;
}

.fa-bullseye {
  color: #00816e;
}

.fa-calendar-alt {
  color: #00816e;
  margin-right: 10px;
}
.calendar {
  color: #00816e;
  font-size: 14px;
}
.icones {
  color: teal;
  margin-top: -6px;
}
.icon-warning {
  color: red;
}
.txt_meta_meio {
  margin-left: 15px;
}
