* {
  margin: 0;
}

.pag__perfil {
  display: flex;
  background: #f5f5f5;
}
.menu__perfil {
  width: 80px;
  height: 100vh;
  background: #00816e;
}
.container__perfil {
  width: 1200px;
  padding: 20px 40px;
}

.email {
  font-size: 12px;
  margin:0;
  font-weight: 100;
}

.button__relatorios{
  outline: none;
  background-color: #FE5472;
  color: #fff;
  border-radius: 5px;
  padding: 5px 20px;
  border: none;
}

.usuario__perfil {
  width: 100%;
  background: #00816e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 12px 20px;
  color: white;
}
.dados-usuarios__perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.dados-usuarios__imagem {
  background: url("../../assets/louise.jpg");
  background-size: cover;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  background-position: center;
}

.dados-usuarios-texto__perfil {
  font-size: 20px;
}

.editar__perfil {
  font-size: 15px;
  color: white;
}

.renda__perfil {
  font-size: 40px;
}
.btn-new-edit {
  background-color: #fe5472;
  color: white;
  font-family: "roboto" bold;
  padding: 7px 5px;
  font-size: 85%;
  border: none;
  border-radius: 10px;
}
