@import url("https://fonts.googleapis.com/css2?family=Scada&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Scada", sans-serif;
}

body {
  background-color: #f5f5f5;
}
/* HOME */

.box-titulos {
  display: grid;
  margin-top: 50px;
  text-align: center;
}

.home-titulo {
  color: #000;
  font-size: 30px;
  text-transform: uppercase;
}
.home-subtitulo {
  color: #808080;
  font-size: 20px;
}
.box-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
  width: 1200px;
}

@media (max-width: 1024px) {
  .box-cards {
    width: 100%;
    justify-content: space-around;
  }
}

@media (max-width: 425px) {
    .box-cards {
        display: grid;
       gap: 40px;
      }
      
  }
  